@using static Admin.ViewModels.MovieViewModel
@model IEnumerable<ReleasedDateTime>

<h4>Released Date Time</h4>

<table id="tblReleasedDateTime" class="table table-striped" cellpadding="0" cellspacing="0">
    <tr>
        <th style="width:150px">Date</th>
        <th style="width:150px">Time</th>
        <th style="width:150px">RoomNo</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="Id" hidden>
                <span>@item.Id</span>
            </td>
            <td hidden>
                <input type="text" id="movieId" value="@item.MovieId"/>
            </td>
            <td class="Date">
                <span>@item.Date</span>
            </td>
            <td class="Time">
                <span>@item.Time</span>
            </td>
            <td class="RoomNo">
                <span>@item.RoomNo</span>
            </td>
        </tr>
    }
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
        $(function () {
            //Remove the dummy row if data present.
            if ($("#tblReleasedDateTime tr").length > 2) {
                $("#tblReleasedDateTime tr:eq(1)").remove();
            } else {
                var row = $("#tblReleasedDateTime tr:last-child");
                row.find("span").html('&nbsp;');
            }
        });
</script>