@using static Admin.ViewModels.MovieViewModel
@model IEnumerable<ReleasedDateTime>

<h4>Released Date Time</h4>

<div class="row mb-3">
    <div class="col-3">
        <label class="control-label">Date</label>
    </div>
    <div class="col-9">
       <input type="date" id="txtDate" class="form-control"/>
    </div>
</div>
<div class="row mb-3">
    <div class="col-3">
        <label class="control-label">Time</label>
    </div>
    <div class="col-9">
       <input type="time" id="txtTime"  class="form-control"/>
    </div>
</div>
<div class="row mb-3">
    <div class="col-3">
        <label class="control-label">RoomNo</label>
    </div>
    <div class="col-9">
        <select class="form-select" aria-label="selectRoom" id="txtRoomNo">
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12 text-end">
        <input type="button" id="btnAdd" value="Add" class="btn btn-primary"/>
    </div>
</div>

<table id="tblReleasedDateTime" class="table table-striped" cellpadding="0" cellspacing="0">
    <tr>
        <th style="width:150px">Date</th>
        <th style="width:150px">Time</th>
        <th style="width:150px">RoomNo</th>
        <th style="width:150px"></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="Id" hidden>
                <span>@item.Id</span>
            </td>
            <td hidden>
                <input type="text" id="movieId" value="@item.MovieId"/>
            </td>
            <td class="Date">
                <span>@item.Date</span>
                <input type="date" value="@item.Date" style="display:none" class="form-control"/>
            </td>
            <td class="Time">
                <span>@item.Time</span>
                <input type="time" value="@item.Time" style="display:none" class="form-control"/>
            </td>
            <td class="RoomNo">
                <span>@item.RoomNo</span>
                <input type="time" value="@item.RoomNo" style="display:none" class="form-control"/>
            </td>
            <td class="text-end">
                <button type="button" class="Edit btn btn-secondary" onclick="location.href=javascript:;">
                    Edit
                </button>
                <button type="button" class="Update btn btn-success" onclick="location.href=javascript:;" style="display:none">
                    Update
                </button>
                <button type="button" class="Cancel btn btn-secondary" onclick="location.href=javascript:;" style="display:none">
                    Cancel
                </button>
                <button type="button" class="Delete btn btn-danger" onclick="location.href=javascript:;">
                    Delete
                </button>
            </td>
        </tr>
    }
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
        $(function () {
            //Remove the dummy row if data present.
            if ($("#tblReleasedDateTime tr").length > 2) {
                $("#tblReleasedDateTime tr:eq(1)").remove();
            } else {
                var row = $("#tblReleasedDateTime tr:last-child");
                row.find(".Edit").hide();
                row.find(".Delete").hide();
                row.find("span").html('&nbsp;');
            }
        });
 
        function AppendRow(row, Id, date, time, roomNo) {
            $(".Id", row).find("span").html(Id);
            
            //Bind Date.
            $(".Date", row).find("span").html(date);
            $(".Date", row).find("input").val(date);
 
            //Bind Time.
            $(".Time", row).find("span").html(time);
            $(".Time", row).find("input").val(time);

            //Bind RoomNo.
            $(".RoomNo", row).find("span").html(roomNo);
            $(".RoomNo", row).find("input").val(roomNo);
 
            row.find(".Edit").show();
            row.find(".Delete").show();

            $("#tblReleasedDateTime").append(row);
        };

        $("body").on("click", "#btnAdd", function () {
            var movieId = $("#movieId");
            var txtDate = $("#txtDate");
            var txtTime = $("#txtTime");
            var txtRoomNo = $("#txtRoomNo");
            $.ajax({
                type: "POST",
                url: "/ReleasedDateTimes/Create",
                data: {MovieId: movieId.val(), Date: txtDate.val(), Time: txtTime.val(), RoomNo: txtRoomNo.val() },
                success: function (r) {
                    var row = $("#tblReleasedDateTime tr:last-child");
                    if ($("#tblReleasedDateTime tr:last-child span").eq(0).html() != "&nbsp;") {
                        row = row.clone();
                        console.log("clone");
                    }
                    AppendRow(row, r.id, r.date, r.time, r.roomNo);
                    txtDate.val("");
                    txtTime.val("");
                    txtRoomNo.val("");
                }
            });
        });
 
        //Edit event handler.
        $("body").on("click", "#tblReleasedDateTime .Edit", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    $(this).find("input").show();
                    $(this).find("span").hide();
                }
            });
            row.find(".Update").show();
            row.find(".Cancel").show();
            row.find(".Delete").hide();
            $(this).hide();
        });
 
        //Update event handler.
        $("body").on("click", "#tblReleasedDateTime .Update", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    span.html(input.val());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Delete").show();
            row.find(".Cancel").hide();
            $(this).hide();
 
            var releasedDateTimes = {};
            releasedDateTimes.Id = row.find(".Id").find("span").html();
            releasedDateTimes.Date = row.find(".Date").find("span").html();
            releasedDateTimes.Time = row.find(".Time").find("span").html();
            releasedDateTimes.Time = row.find(".RoomNo").find("span").html();
            $.ajax({
                type: "POST",
                url: "/ReleasedDateTimes/Edit",
                data: {releasedDateTimes: releasedDateTimes },
            });
        });
 
        //Cancel event handler.
        $("body").on("click", "#tblReleasedDateTime .Cancel", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    input.val(span.html());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Delete").show();
            row.find(".Update").hide();
            $(this).hide();
        });
 
        //Delete event handler.
        $("body").on("click", "#tblReleasedDateTime .Delete", function () {
            if (confirm("Do you want to delete this row?")) {
                var row = $(this).closest("tr");
                var Id = row.find("span").html();
                $.ajax({
                    type: "POST",
                    url: "/ReleasedDateTimes/Delete",
                    data: {id: Id },
                    success: function (response) {
                        if ($("#tblReleasedDateTime tr").length > 2) {
                            row.remove();
                        } else {
                            row.find(".Edit").hide();
                            row.find(".Delete").hide();
                            row.find("span").html('&nbsp;');
                        }
                    }
                });
            }
        });
    </script>

