@*
<table id="tblReleasedDateTime" class="table" cellpadding="0" cellspacing="0">
    <tr>
        <th style="width:100px">Id</th>
        <th style="width:100px">Date</th>
        <th style="width:150px">Time</th>
        <th style="width:150px"></th>
    </tr>
    @foreach (var item in @Model.ReleasedDateTimeList)
    {
        <tr>
            <td class="ReleasedDateTimeId">
                id
            </td>
            <td class="Date">
                <span>@item.Date</span>
                <input type="text" value="@item.Date" style="display:none"/>
            </td>
            <td class="Time">
                <span>@item.Time</span>
                <input type="text" value="@item.Time" style="display:none"/>
            </td>
            <td>
                <a class="Edit" href="javascript:;">Edit</a>
                <a class="Update" href="javascript:;" style="display:none">Update</a>
                <a class="Cancel" href="javascript:;" style="display:none">Cancel</a>
                <a class="Delete" href="javascript:;">Delete</a>
            </td>
        </tr>
    }
</table>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style="width: 150px">
            Date<br/>
            <input type="text" id="txtDate" style="width:140px"/>
        </td>
        <td style="width: 150px">
            Time:<br/>
            <input type="text" id="txtTime" style="width:140px"/>
        </td>
        <td style="width: 200px">
            <br/>
            <input type="button" id="btnAdd" value="Add"/>
        </td>
    </tr>
</table>*@