@model FrontEnd.ViewModels.RoomViewModel

@{
    ViewData["Title"] = "Rooms";
}

@*<input type="hidden" id="roomId" value="@Model.Id"/>
<input type="hidden" id="roomNo" value="@Model.RoomNo"/>
<input type="hidden" id="movieId" value="@Model.MovieId"/>
<input type="hidden" id="movie" value="@Model.Movie"/>
<input type="hidden" id="date" value="@Model.Date"/>
<input type="hidden" id="time" value="@Model.Time"/>*@
<input type="hidden" id="releasedDateTimeId" value="@Model.ReleasedDateTimeId"/>
<input type="hidden" id="price" value="@Model.Price"/>

<div class="space"></div>

<div class="container">
    @if (Model.Movie != null) {
        <h3 class="text-center">@Model.Movie</h3>
    }
    @if (Model.Date != null) {
        <p class="mb-0">Date: @Model.Date</p>
    }
    @if (Model.Time != null) {
        <p class="mb-0">Time: @Model.Time.ToString(@"hh\:mm")</p>
    }
    @if (Model.Price != null) {
        <p class="mb-0">Price: RM @(Math.Round( (decimal)@Model.Price, 2, MidpointRounding.AwayFromZero ))</p>
    }
    <br />
    <div class="screen"></div>
    <p class="text-center">Screen</p>
    <div class="space"></div>

    <div class="row">
        <div class="col text-end">
            <input type="checkbox" class="btn-check disabled" id="availble" autocomplete="off" value="Availble">
            <label class="btn btn-danger disabled demo" for="availble">Availble</label>
        </div>
        <div class="col text-center">
            <input type="checkbox" class="btn-check disabled" id="selected" autocomplete="off" value="Selected">
            <label class="btn btn-success disabled demo" for="selected">Selected</label>
        </div>
        <div class="col">
            <input type="checkbox" class="btn-check disabled" id="sold" autocomplete="off" value="Sold">
            <label class="btn btn-secondary disabled demo" for="sold">Sold</label>
        </div>
    </div>

    <div class="space"></div>

  @*  <div class="row">
        @foreach (var item in Model.Seats.Select(o => o.SeatNo)) {
            var id = $"btn-check-{item}";
            <div class="col-xs-1-10">
                <input type="checkbox" class="btn-check" id="@id" autocomplete="off" value="@item">
                <label class="btn btn-danger seat" for="@id">@item</label>
            </div>
        }
    </div>*@

      <div class="row">
        @foreach (var item in Model.Seats) {
            var id = $"btn-check-{item.SeatNo}";
            var seatClass = "";
            @if (item.IsOccupied) {
                seatClass = "btn btn-secondary disabled seat-occupied";
            } else {
                seatClass = "btn btn-danger seat";
            }
            <div class="col-xs-1-10">
                <input type="checkbox" class="btn-check" id="@id" autocomplete="off" value="@item.SeatNo">
                <label class="@seatClass" for="@id">@item.SeatNo</label>
            </div>
        }
    </div>

    <input type="hidden" id="bookedSeat" />
    <div class="row">
        <div class="col text-end">
            <buton type="button" class="btn btn-light mt-4" id="btnProceed">
                Proceed
            </buton>
        </div>
    </div>
    
</div>

<div class="space"></div>

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
          $(':checkbox').click(function() {
            var checkedArr = $(':checkbox:checked').map(function() {
              return this.value;
            }).get();
            $('#bookedSeat').val(checkedArr.toString());
        })

        //$("body").on("click", "#btnProceed", function () {
        //    console.log("click");
        //    var roomId = $("#roomId").val();
        //    var roomNo = $("#roomNo").val();
        //    var movieId = $("#movieId").val();
        //    var movie = $("#movie").val();
        //    var date = $("#date").val();
        //    var time = $("#time").val();
        //    var price = $("#price").val();
        //    var bookedSeat = $("#bookedSeat").val();

        //    var payments = {};
        //    payments.RoomId = roomId;
        //    payments.RoomNo = roomNo;
        //    payments.MovieId = movieId;
        //    payments.Movie = movie;
        //    payments.Date = date;
        //    payments.Time = time;
        //    payments.Price = price;
        //    payments.BookedSeat = bookedSeat;

        //    if(payments.BookedSeat === ""){
        //        alert("Please select your seat");
        //    }else{
        //        $.ajax({
        //            success: function () {
        //                var url = "/Payments/Index?"+"&RoomId="+payments.RoomId+"&RoomNo="+payments.RoomNo+
        //                        "&MovieId="+payments.MovieId+"&Movie="+payments.Movie+"&Date="+payments.Date+
        //                        "&Time="+payments.Time+"&Price="+payments.Price+"&BookedSeat="+payments.BookedSeat;
        //                window.location = url;
        //            }
        //        });
        //    }
        //});
        $("body").on("click", "#btnProceed", function () {
            console.log("click");
            var releasedDateTimeId = $("#releasedDateTimeId").val();
            var price = $("#price").val();
            var bookedSeat = $("#bookedSeat").val();

            var payments = {};
            payments.ReleasedDateTimeId = releasedDateTimeId;
            payments.Price = price;
            payments.BookedSeat = bookedSeat;

            if(payments.BookedSeat === ""){
                alert("Please select your seat");
            }else{
                $.ajax({
                    success: function () {
                        var url = "/Payments/Index?"+"&ReleasedDateTimeId="+payments.ReleasedDateTimeId+"&Price="+payments.Price+"&BookedSeat="+payments.BookedSeat;
                        window.location = url;
                    }
                });
            }
        });
    </script>
}

<style>
    .screen{
        height: 15px;
        width: 100%;
        background-color: white;
        box-shadow: 0 15px 18px 2px grey;
    }

    .demo{
        width: auto;
        border-color:white !important;
        opacity:1 !important;
        margin: 5px;
    }

    .seat{
        width: 50px;
        border: 1px solid white;
        margin: 5px;
    }

    .col-xs-1-10 {
        position: relative;
        min-height: 1px;
        width: 10%;
        float: left;
        text-align: center;
    }

    .btn-check:checked+.btn-danger {
        background-color: #28a745;
        border: 1px solid white;
        box-shadow:none;
    }
</style>