@model IEnumerable<Admin.ViewModels.PaymentHistoryViewModel>

@{
    ViewData["Title"] = "Payment History";
}

<h1>Payment History</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowDate)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.ShowTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookedSeatStr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookedSeatStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
        </tr>
}
    </tbody>
</table>
