@using FrontEnd.ViewModels
@model IEnumerable<FrontEnd.ViewModels.MovieViewModel>

@{
    ViewData["Title"] = "Movies";
}

 <div class="container pt-3">
    <h3>Movies</h3>

    @using (Html.BeginForm())
    {
        <div class="row text-end">
            <div class="col-12">
                @Html.TextBox("SearchString", null, new { @class= "form-control input-search"})
                <button type="submit" class="btn btn-secondary search-icon">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    }

    <div class="row m-0">
        @{MovieViewModel last = Model.Last();}
        @foreach (var item in Model)
        {
            <div class="col-3 py-3 px-0">
                <a href="@Url.Action("Details", "Movies", new { id = item.Id })">
                     <img src="@item.PortraitImage" alt="@item.Title" style="width:200px; height: 250px; object-fit:cover"/>
                </a>
            </div>
            <div class="col-9 py-3 px-0">
                <h4>@item.Title</h4>
                <p class="description">
                    @item.Description
                </p>
                @if(item.ReleasedDateTimes != null){
                    <br />
                    <h6>Today</h6>
                    @foreach (var rdt in item.ReleasedDateTimes) 
                    {
                        var disabledClass = "";
                        @if (rdt.Time < @DateTime.Now.TimeOfDay) {
                            disabledClass = "disabled";
                        } 
                        <buton type="button" class="@($"btn btn-danger mr-3 {disabledClass}")" onclick="location.href='@Url.Action("Details", "Rooms", new { ReleasedDateTimeId = rdt.Id, Price = item.Price })'">
                            <h5 class="mb-0">@rdt.Time.ToString(@"hh\:mm")</h5>
                        </buton>
                    }
                }
            </div>
            @if (!item.Equals(last)) 
            {
                <hr class="m-1"/>
            }
        }
    </div>
</div>

<style>
    .description{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-align: justify;
    }

    .input-search {
        display: inline;
        width: 500px;
    }

    .search-icon {
        margin-left: -46px;
        margin-top: -5px;
    }
</style>